<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <h1>Zmrzlinový generátor</h1>
</head>
<body>
    
    <form method="POST" action="/zmrzka/generuj">

        <p>
            <label for="startDate">Od:</label>
            <input type="date" name="startDate" id="startDate" min="{{ minDatum }}">
        </p>

        <p>
            <label for="endDate">Do:</label>
            <input type="date" name="endDate" id="endDate" min="{{ minDatum }}">
        </p>

        <!--<p> teplotu už není potřeba zadávat
            <label for="teplota">Teplota:</label>
            <input type="number" name="teplota" id="teplota"> °C
        </p>-->

        <p>
            <input type="submit" value="GENERUJ ZMRZKY" >


    </form>

</body>
</html>