<!DOCTYPE html>
<!--zde se snazim vytvorit stranku, kde bude seznam s vygenerovanymi druhy zmrzlin (pro ty data, ktera byla zadana ve formulari) -->
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
    
<body>
        <p>
            <table class="table table-striped table-bordered table-hover">
                    <tr>
                        <th>Datum</th>
                        <th>Druh zmrzky</th>
                     </tr>
                     <tr>
                        {{ dnesstr }} {{ kombo }}
                    </tr>
                </table>
            </p>
        <form method="POST" action="/zmrzka">
            <input type="submit" value="Zpět na úvodní stránku">
        </form>
</body>
</html>






