<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LA ZMRZKA kombinace</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>
<body>
    <form method=post action="/exp">
    <table class="table table-striped table-bordered table-hover">
        <tr>
            <th>Datum</th>
            <th>Druh zmrzky</th>
        </tr>
        {% for key in vysledky %}
        <tr>
            <td>
            <font face="Arial Narrow" color="#A8A8A8">
                {{key}}
            </td>
            {% for x in vysledky[key] %}
            <td>
            <font face="Arial Narrow" color="#696969">
            {{ x }}
            </font>
            </td>
            {% endfor %}
            </font>
        </tr>
        {{endfor}}
    </table>
    </form>
    <form method="POST" action="/zmrzka">
        <input type="submit" value="Zpět na úvodní stránku">
    </form>
</body>
</html>





